<form name="form" method="get" >

<select name="skill" id="skill">
<input type="text" size="15" name="skill"> 
<option >Selecione a Fila Desejada</option>
<option >1</option>
<option >12</option>
<option >123</option> 
</select>

<input type="button" value="vai" onclick="envia()"> 
</form>

<script>

	function envia(){

			document.skill.action = "bla.html="+document.form.skill.value; 
			document.skill.submit(); 
		}
</script>