


body{
	color:@cor-azul-1;
	font-family:@font-family;
	font-size:100%;
	width:100%;
}

a{
	text-decoration:none;
	color:@cor-azul-1;
}

a:hover{
	text-decoration:none;
	color:@cor-azul-2;
}

.clearfix{ 
	clear:both; 
}

.flutua-esq{
	float:left;
}

.flutua-dir{
	float:right;
}

.sem-margem{
	margin-right:0;
}

.interno{
	margin:0 auto;
	position:relative;
	max-width:@tamanho-interno;
}

.texto-esquerda{
	text-align:left;
}

.texto-centro{
	text-align:center;
}

.texto-direita{
	text-align:right;
}


// FORMA DE BOTOES
.botao16{
	background:url(@sprite-botoes-16px) no-repeat;
	.botao(16px);
}

.botao25{
	background:url(@sprite-botoes-25px) no-repeat;
	.botao(25px);
}

.botao40{
	background:url(@sprite-botoes-40px) no-repeat;
	.botao(40px);
}

// ---------------------------------------------------------------------------------------------------

//  AGORA ^COMEÇA O LAYOUT BASICO^

//  CONTAINERS
.container-principal{
	min-height:100%;
	position:relative;
	width:@tamanho-total;
}

.container-login{
	display:none;
	width:@tamanho-total;
}


//  BARRA USUARIO
.barra-usuario{
	border-bottom:@cor-azul-2 6px solid;
	font-size:75%;
	height:2.188em;

	.bt-sair{
		.navega-no-sprite(0px);
		.botao(25px);
		margin-top:0.313em;
		padding-left:1.750em;
	}

	.bt-sair:hover{
		.navega-no-sprite(-25px,0px);
	}

	.bt-sair span{
		margin-top:0.313em;
	}

	.nome-usuario{
		margin:0.625em 0.313em 0 0;
	}
}


//  CABECALHO
.banner{
	background:url('@{theme-image-url}/bg_smartphone-user.jpg') no-repeat center 41%;
	clear:both;
	height:18em;
	position:relative;
	width:@tamanho-total;
}

.cabecalho{
	background:@cor-azul-1;
	blend-mode: multiply;
	bottom:2.5%;
	height:100px;
	width:@tamanho-total;
	opacity:0.8;
	position:absolute;

	.logo-cabecalho{
		margin-top:1.8em;
		opacity:0.9;

		img{
			height:50%;
		}
	}

	.menu-principal{
		margin-top:2em;
	}
}

.baseline{
	background:@cor-azul-2;
	bottom:0;
	height:2%;
	width:@tamanho-total;
	opacity:0.6;
	position:absolute; 
}


//  CONTEUDO
.conteudo{
	clear:both;
	padding:0 0 140px 0;

	.navegacao{
		border-bottom:#ccc 1px solid;
		font-size:0.7em;
		padding:30px 0 25px 0;

		.botao40-legendado{
			padding-left:45px;

			.linha-simples{
				margin-top:12px;
			}

			.linha-dupla{
				margin-top:6px;
			}
		}
	}
}


//  RODAPE
.rodape{
	background:@cor-azul-1;
	bottom:0;
	color:#fff;
	font-size:0.7em;
	height:80px;
	position:absolute;
	width:@tamanho-total;

	.direitos{
		margin:20px 0 10px 0;
	}
}


// ---------------------------------------------------------------------------------------------------


//  MENUS
.cabecalho{
	.navegacao{

		li{
			margin-left:3px; 
		}

		.botao-busca{
			.navega-no-sprite(0px);
		}
		.botao-busca:hover{
			.navega-no-sprite(-200px,0px);
		}
		.botao-documentos{
			.navega-no-sprite(-80px,0px);
		}
		.botao-documentos:hover{
			.navega-no-sprite(-280px,0px);
		}
		.botao-relatorios{
			.navega-no-sprite(-40px,0px);
		}
		.botao-relatorios:hover{
			.navega-no-sprite(-240px,0px);
		}
		.botao-sistemas{
			.navega-no-sprite(-120px,0px);
		}
		.botao-sistemas:hover{
			.navega-no-sprite(-320px,0px);
		}
		.botao-solicitacoes{
			.navega-no-sprite(-160px,0px);
		}
		.botao-solicitacoes:hover{
			.navega-no-sprite(-360px,0px);
		}
	}
}

.conteudo{
	.navegacao{
		li{
			margin-right:5px;
		}

		.botao-documentos{
			.navega-no-sprite(-440px,0px);
		}
		.botao-documentos:hover{
			.navega-no-sprite(-280px,0px);
		}
		.botao-relatorios{
			.navega-no-sprite(-400px,0px);
		}
		.botao-relatorios:hover{
			.navega-no-sprite(-240px,0px);
		}
		.botao-sistemas{
			.navega-no-sprite(-480px,0px);
		}
		.botao-sistemas:hover{
			.navega-no-sprite(-320px,0px);
		}
		.botao-solicitacoes{
			.navega-no-sprite(-519px,0px);
		}
		.botao-solicitacoes:hover{
			.navega-no-sprite(-360px,0px);
		}
	}
}









.documentos, .departamentos, .relatorios, .sistemas, .solicitacoes, .sobre{
		font-size:87.5%;
		margin:25px 0 0 0;
	}


// ---------------------------------------------------------------------------------------------------

// MEDIA QUERIES
@media only screen and (max-width:1199px){
	.interno{
		width:97%;
	}
}





























































// ---------------------------------------------------------------------------------------------------

// CONTENT REGION
// -----------------------------------
.content-area{
	clear:both;
	padding:0 0 140px 0;

	.top{
		border-bottom:#ccc 1px solid;
		clear:both;
		font-size:0.7em;
		min-height:65px;
		margin:0 auto 0 auto;
	}
/*	.navigation{
		margin:2em 0 2em 0;

		li{
			display:block;
			margin:0 5px 0 0;
			vertical-align:middle; 
		}
		span{
			margin-right:3px; 
		}
		.s-line{
			margin:12px 0 0 0;
		}
		.d-line{
			margin:7px 0 0 0;
		}
		.content-nav{
			background:url(@sprite-icons-40) no-repeat;
			display:inline-block;
			height:40px;
		}

		.icn-documentos{ .content-nav-icon(0px,-440px); }
		.icn-documentos:hover{ .content-nav-icon(0px,-280px); }
		.icn-relatorios{ .content-nav-icon(0px,-400px);	}
		.icn-relatorios:hover{ .content-nav-icon(0px,-240px); }
		.icn-sistemas{ .content-nav-icon(0px,-480px); }
		.icn-sistemas:hover{ .content-nav-icon(0px,-320px); }
		.icn-solicitacoes{ .content-nav-icon(0px,-519px); }
		.icn-solicitacoes:hover{ .content-nav-icon(0px,-360px);	}


	}
*/
	.bottom{
		clear:both;
		min-height:15%;
		/*width:@grid-12; */
	}

	.documentos, .departamentos, .relatorios, .sistemas, .solicitacoes, .sobre{
		font-size:87.5%;
		margin:25px 0 0 0;
	}
}





/**

.documentos, .departamentos{
			.icn-download{ .sprite-position(0px,0px); }
			.icn-download:hover{ .sprite-position(0px,-18px); }

			.operacoes{
				.icn-edit{ .sprite-position(0px,-36px);	}
				.icn-edit:hover{ .sprite-position(0px,-54px); }
				.icn-remove{ .sprite-position(0px,-108px); }
			}
		}

**/