@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';



// ---------------------------------------------------------------------------------------------------

body{
	color:@cor-azul-1;
	font-family:@font-family;
	font-size:100%;
	width:100%;
}

a{
	text-decoration:none;
	color:@cor-azul-1;
}

a:hover{
	text-decoration:none;
	color:@cor-azul-2;
}

.clearfix{ 
	clear:both; 
}

.flutua-esq{
	float:left;
}

.flutua-dir{
	float:right;
}

.sem-margem{
	margin-right:0;
}

.interno{
	margin:0 auto;
	position:relative;
	max-width:@tamanho-interno;
}

.botao16{
	background:url(@sprite-botoes-16px) no-repeat;
	.botao(16px);
}

.botao25{
	background:url(@sprite-botoes-25px) no-repeat;
	.botao(25px);
}

.botao40{
	background:url(@sprite-botoes-40px) no-repeat;
	.botao(40px);
}


//  CONTAINERS  ---------------------------------------------------------------------------------------------------

// Hackzinho maroto para ocultar o conteiner principal  _\,,/
.container-principal{
	display:none;
}

.container-login{
	display:block;
	width:@tamanho-total;
}


// ---------------------------------------------------------------------------------------------------


//  BARRA DO USUARIO
.barra-usuario{
	border-bottom:@cor-azul-2 6px solid;
	font-size:75%;
	height:35px;
}

//  CONTEUDO
.conteudo{
	background-image: url('@{theme-image-url}/bg_support.jpeg');
	background-position:center 30%;
	background-size:cover;
	height:45%;
	padding:10% 0 2% 0;
	width:@tamanho-total;
}

//
.caixa-login{
	width:525px;
}

.cabecalho-caixa{
	background-color:#182933;
	filter:alpha(opacity=90);
	height:100px;
	opacity:0.9;

	img{
		float:right;
		margin:5.8% 5% 0 0;
		width:60%;
	}
}

.conteudo-caixa{
	background-color:#226a82;
	filter:alpha(opacity=60);
	height:175px;
	margin-top:0.1%;
	opacity:0.6;
}

.cc-esquerda{
	margin:7.5% 3.2% 0 0;
	width:12%;

	img{
		width:100%;
	}

	p{
		color:#fff;
		font-size:70%;
		margin-top:15%;
	}
}

.cc-direita{
	margin:7.5% 8% 0 0;
	width:40%;

	::-webkit-input-placeholder{ 
		color:#fff;
	}

	input{
		font-family:@font-family;
		height:17%;
	}

	input.text{
		background-color:rgba(0,0,0,0.1);
		border:1px solid #fff;
		color:#fff;
		filter:alpha(opacity=100);
		height:17%;
		margin:0 0 2% 0;
		padding-right:10px;
		text-align:right;
		width:100%;
	}

	input.error{
		background-color:rgba(0,0,0,0.1);
		border:1px solid #d10126;
		color:#fff;
		filter:alpha(opacity=100);
		height:17%;
		margin:0 0 2% 0;
		padding-right:10px;
		text-align:right;
		width:100%;
	}

	input.submit{
		border:none;
		background-color:#00121D;
		color:#fff;
		filter:alpha(opacity=90);
		margin-top:2%;
		padding-right:10px;
		text-align:right;
		width:100%;
	}
}



//
.rodape{
	font-size:0.7em;
	margin:30px auto 0 auto;
	width:@tamanho-total;

	.interno{
		width:71%;
	}

	.navegacao{
		li{
			display:inline-block;
			margin-right:29px;
		}

		a:hover{
			color:#c6c6c5;
		}

		span{
			margin-top:7px;
		}

		.botao40{
			width:inherit;
			padding-left:45px;
		}

		.botao-sobre{ .navega-no-sprite(-560px,0px); }
		.botao-sobre:hover{ .navega-no-sprite(-680px,0px); }
		.botao-senha{ .navega-no-sprite(-600px,0px); }
		.botao-senha:hover{	.navega-no-sprite(-720px,0px); }
		.botao-fale{ .navega-no-sprite(-640px,0px); }
		.botao-fale:hover{ .navega-no-sprite(-760px,0px); }
	}

	.conteudo-rodape{
		display:none;
		margin-top:20px;
	}

	.secao-rodape{
		display:none;
	}
}


// MACUMBAS --------------------------------------------------------------------------------------------------------
.banco-habilidades{
	margin:20% auto 0 auto;
	width:98%;

	h3{
		margin-bottom:10px
	}

	p{
		margin:5px 0 5px 0;
	}

	input.text{
		margin-bottom:5px;
		padding:5px 0 5px 0;
		width:20%;
	}
}