@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';
@import '_scaffolding.less';
@import '_formee.less';
@import '_layout_base.less';

//
// GLOBAL
// --------------------------------------------------
.sobre{
	h1{
		.hx(1.6em);
		margin-bottom:15px;
	}

	p{
		margin-bottom:15px;
		text-indent:40px;
	}
}