@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';
@import '_scaffolding.less';
@import '_formee.less';
@import '_layout_base.less';

//
// GLOBAL
// --------------------------------------------------
.solicitacoes{
	
	table{
		border-spacing:1px;
		width:@grid-12;
	}

	thead{
		color:@color-secondary;

		tr{	
			height:35px;
		}

		th{
			border-bottom:2px solid @color-secondary;
			font-family:@font-family-bold;
			font-weight:100;
			text-align:center;
			vertical-align:middle;
		}
	}

	tbody{
		td{
			margin-bottom:10px;
			padding:5px 10px 5px 10px;
			text-align:center;
		}
	}


	.nova-solicitacao{
		ul li{
			margin-bottom:5px;
		}
	}

	.nova-interacao{
		
	}
}

