div.documentos html,body,h1,h2,h3,h4,h5,h6,ul,table,thead,tbody,tr,th,td{ 
  margin: 0px;
  padding: 0px;
  border: none; 
  list-style: none; 
}

.alert-box{
  margin: 20px 0 0 0;
}

.modafocka{
  height: 25px;
}

.down-icon{
  float: left;
  margin: 0 5px 0 0;
  width: 16px;
}

.modafocka span{
  margin:-5px 0 0 0;
}

.down-icon:hover{
  content:url('./../images/icones/download_a.png');
}

div.documentos #tree{
  margin: 10px 0 0 0;
}

div.documentos #tree li{ padding: 3px 0 3px 0; }

div.documentos #tree ul li{ padding: 3px 0 3px 20px; }

div.documentos #tree li > h4{
  text-decoration: none;
  font-weight: normal;
}

div.documentos #tree li > h4:before{
  content: '+';
  padding-right: 5px;
}

div.documentos #tree li >h4.active:before{
  content: '-';
  padding-right: 5px;
}

div.documentos #tree li ul{ display: none; }


div.novo_documento form{
  margin: 20px 0 0 0;
}

div.edita_documento form{
  margin: 20px 0 0 0;
}

div.apaga_documento .info{
  margin: 20px 0 0 0;
}



/* 

  Departamentos

 */
div.departamento{
  margin: 0px;
}

div.novo_depto{
  margin: 25px 0 0 0;
}

div.todos_departamentos table{
  margin:20px auto 0 auto; 
  width:100%;
  font-size:85%;
}

div.todos_departamentos table thead{
  border: 1px solid #bebfb9;
  background: #e1e2dc;
}

div.todos_departamentos table thead tr{
  height: 35px;
}

div.todos_departamentos table thead th{
  border: 1px solid #bebfb9;
  padding: 0px; 
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}

div.todos_departamentos table tbody td{
  border: 1px solid #bebfb9;
  padding: 2px;
  text-align: center;
}

div.novo_departamento form{
  margin: 25px 0 0 0;
}

div.edita_departamento form{
  margin: 25px 0 0 0;
}

div.apaga_departamento .info{
  margin: 25px 0 0 0;
}

/**
 *   Sobrescrevendo estilos do drupal/frameworks
 *
 */
thead,tbody {
  background: none;
}