		.menu {
			background-color: ghostwhite;
		}
		.menu ul  {
			background-color: white;
			margin-left: 3%;
			visibility: hidden;
			height: 0px
		}		
		.menu:hover ul {
			visibility: visible;
			height: inherit;
			cursor: pointer;
		}
		.formulario ul {
			list-style:none;
		}
		.formulario li {
			height: 30px;
		}		
		.formulario label {
			width: 25%;
			float: left;
		}
		.formulario input, select {
			margin-left: inherit;
			width: 22%;
		}
		.help {
			display: inline-flex;
			position: absolute;
			margin-left: 1%;
		}
		.help div {
			background-color: rgb(255, 248, 221);
			box-shadow: rgb(136, 136, 136) -2px 2px 6px;
			font: 66%/170% Verdana,sans-serif;
			visibility: hidden;
			}
		.help:hover div {
			visibility: visible;
		}
