<style type="text/css">
	.campo {
		position: relative;
		left: 10px;
	}
	.rotulo {
		width: 15%;
		float: left;
	}
</style>
<div>
	<div>
		<h1>Cadastro de Novos Funcionários</h1>
	</div>
	<hr>
	<br>
	<div>
		<label class="rotulo">Matrícula:</label><input class="campo" type="text" name="fmat"><br>
		<label class="rotulo">Nome:</label><input  class="campo" style="width:80%" type="text" name="fnome"><br>
	</div>
	<br>
	<div>
		<input type="button" value="enviar" style="float: right">
	</div>
</div>