<style type="text/css">
	.formulario ul {
		list-style:none;
	}
	.formulario label {
		width: 30%;
		float: left;
	}
	.help {
		display: inline-flex;
		position: absolute;
		margin-left: 1%;
	}
	.help div {
		background-color: rgb(255, 248, 221);
		box-shadow: rgb(136, 136, 136) -2px 2px 6px;
		font: 66%/170% Verdana,sans-serif;
		visibility: hidden;
		}
	.help:hover div {
		visibility: visible;
	}
</style>
<div>
	<div>
		<h3>Administração >> Cadastro Principal</h3>
		<h1>Cadastro Principal</h1>
	</div>	
	<hr>
	<br>
	<div id="sub_formulario" title="cadastro_principal">
		<ul class="formulario">
			<li><label for="nome">Nome Completo:</label><input type="text" style="width:70%" id="nome"></li>
			<li><label for="CPF">CPF:</label><input type="text" id="cpf"></li>
			<li><label for="sexo">Sexo:</label>
				<font size="2px">Masculino</font><input type="radio" name="sexo" value="Masculino">
				<font size="2px">Feminimo</font><input type="radio" name="sexo" value="Feminino">
			</li>
		</ul>
	</div>
	<br>
	<div>
		<input type="button" onclick="enviar()" value="enviar" style="float:right">
	</div>
</div>