<style type="text/css">
	.campo {
		position: relative;
		left: 2%;
	}
	.rotulo {
		width: 15%;
		float: left;
	}
	.help {
		display: inline-flex;
		position: absolute;
		margin-left: 1%;
	}
	.help div { 
		background-color: rgb(255, 248, 221);
		box-shadow: rgb(136, 136, 136) -2px 2px 6px;
		font: 66%/170% Verdana,sans-serif;
		visibility: hidden;
		}
	.help:hover div {
		visibility: visible;
	}
</style>
<div>
	<div>
		<h3>Administração >> Cadastro de Novos Funcionários</h3>
		<h1>Cadastro de Novos Funcionários</h1>
	</div>
	<hr>
	<br>
	<div id="sub_formulario" title="novo_cadastro">
		<label class="rotulo">Matrícula:</label><input onkeypress="somente_numeros()" onchange="valida_matricula(this.id)" class="campo" type="text" id="matricula">
		<div class="help">
			<img src="..\habilidades\img\message-16-help.png" style="position:relative;width:16px;height: 16px;">
			<div style="z-index: 100">São aceitos somente números e a <br> matrícula deve conter o digito verificador</div>
		</div>
			<br>
		<label class="rotulo" >Nome:</label><input  class= "campo" style="width:83%" type="text" id="nome"><br>
	</div>
	<br>
	<div>
		<input type="button" onclick="enviar()" value="enviar" style="float:right">
	</div>
</div>