
//
// MIXINS FILE
// --------------------------------------------------

.botao(@altura,@largura:@altura){
	display:block;
	height:@altura;
	width:@largura;
}

.botao-legendado(@altura){
	display:block;
	height:@altura;
}

.navega-no-sprite(@altura,@largura:@altura){
	background-position:@largura @altura;
}






// MANTER PARA COMPATIBILIDADE

.icon-builder(@w,@h:@w){
	display:inline-block;
	height:@h;
	width:@w;
}

.sprite-position(@x,@y:@x){
	background-position:@x @y;
}

.hx(@size,@weight:normal){
	font-size:@size;
	font-weight:@weight;
}

.content-nav-icon(@x,@y:@x){
	.sprite-position(@x,@y);
	padding-left:43px;
}
