

//
//   SCAFFOLDING
// --------------------------------------------------

body{
	color:@cor-azul-1;
	font-family:@font-family;
	width:100%;
}

a{
	text-decoration:none;
	color:@cor-azul-1;
}

a:hover{
	text-decoration:none;
	color:@cor-azul-2;
}

.clearfix{ 
	clear:both; 
}

.flutua-esq{
	float:left;
}

.flutua-dir{
	float:right;
}

.sem-margem{
	margin-right:0;
}

.interno{
	margin:0 auto;
	position:relative;
	max-width:1200px;
}

.texto-esquerda{
	text-align:left;
}

.texto-centro{
	text-align:center;
}

.texto-direita{
	text-align:right;
}






// MANTER PARA COMPATIBILIDADE


.inner{
	margin:0 auto 0 auto;
	width:1055px;
}

.fl-left{
	float:left;
}

.fl-right{
	float:right; 
}



// Mantain for Compatibility
.float-left{ 
	float:left;
}

.float-right{ 
	float:right; 
}




