
@font-face{
	font-family: 'Segoe';
	font-weight: normal;
	src: url('@{theme-font-url}/segoe/segoeui.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe SVG';
	font-weight: normal;
	src: url('@{theme-font-url}/segoe/segoeui.svg') format('svg');
}

@font-face{
	font-family: 'Segoe SVG';
	font-weight: bold;
	src: url('@{theme-font-url}/segoe/segoeui.svg#bold') format('svg');
}




/**

@font-face{
	font-family: 'Segoe UI';
	font-weight: normal;
    font-style: normal;
	src: url('@{theme-font-url}/segoe/segoeui.svg') format('svg');
}

@font-face{
	font-family: 'Segoe UI Light';
	font-weight: normal;
	src: url('@{theme-font-url}/segoe/segoeuii.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe UI Semibold';
	src: url('@{theme-font-url}/segoe/seguisb.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe UI Bold';
	font-weight: bold;
	src: url('@{theme-font-url}/segoe/segoeuib.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe UI Italic';
	src: url('@{theme-font-url}/segoe/segoeuii.ttf') format('truetype');
}

@font-face{
	font-family: 'Segoe UI Bold Italic';
	src: url('@{theme-font-url}/segoe/segoeuiz.ttf') format('truetype');
}
**/