
//
//  GLOBAL
// -----------------------------------

// TAMANHO
@largura_total:					100%;
@largura_interno:				1200px; // +1280px
@largura_interno1:				980px;	// -1024px

@largura_destaques: 			@largura_interno;
@largura_destaques_bloco: 		floor(percentage(240/@largura_destaques));
@largura_indicadores:	 		floor(percentage(450/@largura_interno));
@largura_indicadores_bloco:		33.3%;
@largura_acesso_rapido:			floor(percentage(300/@largura_interno));
@largura_agenda_npc:			floor(percentage(250/@largura_interno));
@largura_indefinida1:			floor(percentage(180/@largura_interno));





@tamanho-total:					100%;
@tamanho-container:				@tamanho-total;
@tamanho-interno:				1200px;




// URLS
@base-url:						'http://172.23.14.73/mismobile';
@theme-base-url: 				'@{base-url}/themes/portal';
@theme-font-url: 				'@{theme-base-url}/fonts';
@theme-image-url: 				'@{theme-base-url}/images';


// TIPOGRAFIA
@font-family:					'Segoe', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-svg:				'Segoe SVG', 'Segoe', 'Helvetica Neue', Helvetica, Arial, sans-serif;


// CORES
@cor-azul-1:					#062b43; // Primaria
@cor-azul-2:					#2093b5; // Secundaria
@cor-branco:					#fff;
@cor-cinza-1:					#f5f5f5;
@cor-cinza-2:					#c6c6c5;
@cor-preto:						#000;

@cor-aviso:						#c09853;
@cor-erro:						#b94a48;
@cor-informacao:				#3a87ad;
@cor-sucesso:					#468847;


// SPRITES
@sprite-botoes-16px:			'@{theme-image-url}/sprite_icons16.png';
@sprite-botoes-25px:			'@{theme-image-url}/sprite_icons25.png';
@sprite-botoes-40px:			'@{theme-image-url}/sprite_icons40.png';
@sprite-icones-60px:			'@{theme-image-url}/sprite_icons_60.png';

@sprite-botoes-sair:			'@{theme-image-url}/sprite_sair.png'; // manter apenas por compatibilidade
@sprite-avatars-home:			'@{theme-image-url}/sprite_avatars.png';































// COLORS
@color-success:         	#5cb85c;
@color-warning:         	#f0ad4e;
@color-danger:          	#d10126;
@color-info:            	#5bc0de;

@color-primary:         	#182933;
@color-secondary:       	#2093b5;
@color-bg-footer:			#003c5c;
@color-gray:				#f5f5f5;


@link-color:            	@color-primary;
@link-hover-color:     		@color-secondary;








// GRID
// -----------------------------------
@grid-12:		100%;
@grid-11:		91.5833333333%;
@grid-10: 		83.1666666667%;
@grid-9: 		74.75%;
@grid-8: 		66.3333333333%;
@grid-7: 		57.9166666667%;
@grid-6: 		49.5%;
@grid-5: 		41.0833333333%;
@grid-4: 		32.6666666667%;
@grid-3: 		24.25%;
@grid-2: 		15.8333333333%;
@grid-1: 		7.41666666667%;



