@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';
@import '_scaffolding.less';


// Hackzinho maroto para ocultar o conteiner principal  _\,,/
.container{
	display:none;
}

.login-container{
	display:block;
	width:@grid-12;
}

//
.user-toolbar{
	border-bottom:@color-secondary 6px solid;
	font-size:75%;
	height:35px; 
}


//
.content-area{
	background-image:url('@{theme-image-url}/bg_support.jpeg');
	background-position:center 30%;
	background-size:cover;
	min-height:30%;
	padding:13% 0 11% 0;
	width:100%; 


	.login-box{
		width:525px;
	}

	.box-header{
		background-color:#182933;
		filter:alpha(opacity=90);
		height:100px;
		opacity:0.9;

		img{
			float:right;
			margin:5.8% 5% 0 0;
			width:60%;
		}
	}

	.box-footer{
		background-color:#226a82;
		filter:alpha(opacity=60);
		height:175px;
		margin-top:0.1%;
		opacity:0.6;

		.esquerda{
			margin:6.5% 1.5% 0 0;
			width:12%;

			img{
				width:100%;
			}
		}

		.direita{
			margin:6.5% 2% 0 0;
			width:48%;

			a{
				background: #0370ea;
				background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
				background: -o-linear-gradient(top,#008dfd 0,#0370ea 100%);
				background: -ms-linear-gradient(top,#008dfd 0,#0370ea 100%);
				background: linear-gradient(top,#008dfd 0,#0370ea 100%);
				border: 1px solid #076bd2;
				-moz-border-radius: 3px;
				border-radius: 3px;
				color: #fff !important;
				display: inline-block;
				font-size: 13px;
				font-weight: 700;
				line-height: 1.3;
				padding: 8px 25px;
				text-align: center;
				text-decoration: none !important;
				text-shadow: 1px 1px 1px #076bd2;
			}

			p {
				color:#fff;
				font-size:80%;
				margin-top:1%;
			}
		}
	}
}


//
.footer{
	background:#fff;
	font-size:0.7em;
	margin:30px auto 0 auto;
	width:@grid-12;
}