@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';
@import '_scaffolding.less';
@import '_formee.less';
@import '_layout_base.less';
@import '_icons.less';


//
// GLOBAL
// --------------------------------------------------
.documentos, .departamentos{
	
	table{
		border-spacing:1px;
		width:@grid-12;
	}

	thead{
		color:@color-secondary;

		tr{	
			height:35px;
		}

		th{
			border-bottom:2px solid @color-secondary;
			font-family:@font-family-bold;
			font-weight:100;
			text-align:center;
			vertical-align:middle;
		}
	}

	tbody{
		tr.even { 
			background:#fff; 
		}

		tr.odd { 
			background:#f5f5f5; 
		}

		td{
			padding:5px 10px 5px 10px;
			text-align:center;
		}
	}

	.apaga{
		.info{ 
			margin:20px 0 15px 0;
		}
	}

	.operacoes{
		margin:0 auto 0 auto; 
		width:50px;

		a{ margin-right:5px; }
	}

	.acao{
		background:url(@sprite-icons-16) no-repeat;
		.icon-builder(18px);
	}
}


//
// DOCUMENTOS
// --------------------------------------------------
.esquerda{
	background:#f5f5f5;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	/*border:1px solid #ccc;*/
	padding:10px;
	/*width:20%;*/
	width:17.500em;
}

.direita{
	width:74%;
}

.documentos{
	#tree li{
		padding: 3px 0 3px 0; 
	}

	#tree ul li{ 
		padding: 3px 0 3px 20px; 
	}

	#tree li > h4{
		text-decoration:none;
		font-weight:normal;
	}

	#tree li > h4:before{
		content:'+';
		padding-right:5px;
	}

	#tree li >h4.active:before{
		content:'-';
		padding-right:5px;
	}

	#tree li ul{ 
		display:none; 
	}
}



//
// DEPARTAMENTOS
// --------------------------------------------------
