@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';
@import '_layout_base.less';


//
// GLOBAL
// --------------------------------------------------

h1{ .hx(1.2em); }
h2{ .hx(.85em); }
h3{ .hx(.8em); }
h4{ .hx(.75em); }
h5{ .hx(.7em); }
h6{ .hx(.65em); }



.home{
	margin-top:20px;

	.esquerda{
		width:percentage(300/@tamanho-interno);
	}

	.centro{
		border-left:1px solid #CCDDDD;
		border-right:1px solid #CCDDDD;
		box-sizing:border-box;
		min-height:100%;
		width:percentage(600/@tamanho-interno);
	}

	.direita{
		width:percentage(300/@tamanho-interno);
	}
}


.bloco{
	width:@tamanho-total/5;
	float:left;

	.interno{
		background: #ccc;
		min-height:300px;
		width:95%;
	}
}





//
// ESQUERDA
// --------------------------------------------------
.blogs{
	

	h1{
		line-height:1.1em;
		letter-spacing:-0.03em;
	}

	.avatar{
		background:url(@sprite-avatars-home) no-repeat;
		display:inline-block;
		height:90px;
		margin-right:4px;
		width:90px;
		
	}

	.descricao-avatar{
		padding-top:15px;    
	}

	.fabio-luchetti{ 
		.navega-no-sprite(0px); 
	}
	.sonia-rica{ 
		.navega-no-sprite(-90px,0px);
	}
	.organograma{ 
		.navega-no-sprite(-180px,0px);
	}
	.boletim-fluir{ 
		.navega-no-sprite(-270px,0px); 
	}
	.boletim-pomar{ 
		.navega-no-sprite(-360px,0px); 
	}
}


//
// CENTRO
// --------------------------------------------------
.destaques{
	margin:0 15px;
	h2{
		margin-bottom:10px;
	}

	li{
		margin-bottom:15px;
	}

	p{
		font-size:.8em;
	}
} 


//
// DIREITA
// --------------------------------------------------
.direita{
	/*margin-left:10px;*/

	.carrossel{
		overflow: hidden;
		margin:2%;
	}

	.carrossel > div{
		position: relative;
		left: 0;
			-webkit-animation: loop 10s infinite;
			-moz-animation: loop 10s infinite;
	}

	.carrossel > div > div{
		display: block;
		float: left;
	}

	.carrossel{
		.graph{
			float:left;
			height:35%;
			width:33.3%;
		}

		.diretoria{
			.graph_box();
		}

		.demais{
			.graph_box();
		}
	}
}


//
// BLACK MAGIC -> OoHh Yeaah _\,,/
// --------------------------------------------------
@-webkit-keyframes loop{
	0% { left: 0; }
	20% { left: 0; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
}

@-moz-keyframes loop{
	0% { left: 0; }
	20% { left: 0; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
}