@charset "UTF-8";
@import '_variables.less';
@import '_mixins.less';
@import '_normalize.less';
@import '_typography.less';



// ---------------------------------------------------------------------------------------------------

body{
	color:@cor-azul-1;
	font-family:@font-family-svg;
	font-size:100%;
	width:@tamanho-total;
}

a{
	text-decoration:none;
	color:@cor-azul-1;
}

a:hover{
	text-decoration:none;
	color:@cor-azul-2;
}

.clearfix{ 
	clear:both; 
}

.flutua-esq{
	float:left;
}

.flutua-dir{
	float:right;
}

.sem-margem{
	margin-right:0 !important;
}

.interno{
	clear:both;
	margin:0 auto;
	position:relative;
	max-width:@tamanho-interno;
}

.botao16{
	background:url(@sprite-botoes-16px) no-repeat;
	.botao(16px);
}

.botao25{
	background:url(@sprite-botoes-25px) no-repeat;
	.botao(25px);
}

.botao40{
	background:url(@sprite-botoes-40px) no-repeat;
	.botao(40px);
}

.icone60{
	background:url(@sprite-icones-60px) no-repeat;
	.botao(60px);
}


//  CONTAINERS  ---------------------------------------------------------------------------------------------------

.container-login{
	display:none;
	width:@tamanho-total;
}

.container-principal{
	display:block;
	min-height:@tamanho-total;
	position:relative;
	width:@tamanho-total;
}



//  LAYOUT BASICO  --------------------------------------------------------------------------------------------------

//  BARRA USUARIO
.barra-usuario{
	border-bottom:@cor-azul-2 6px solid;
	font-size:75%;
	height:35px;

	.bt-sair{
		.navega-no-sprite(0px);
		.botao(25px);
		margin-top:5px;
		padding-left:28px;
	}

	.bt-sair:hover{
		.navega-no-sprite(-25px,0px);
	}

	.bt-sair span{
		margin-top:4px;
	}

	.nome-usuario{
		margin:9px 5px 0 0;
	}
}


//  CABECALHO
.banner{
	background:url('@{theme-image-url}/bg_smartphone-user.jpg') no-repeat center 41%;
	clear:both;
	height:18em;
	position:relative;
	width:@tamanho-total;
}

.cabecalho{
	background:@cor-azul-1;
	bottom:2.5%;
	height:100px;
	opacity:.85;
	position:absolute;
	width:@tamanho-total;
}

.logo-cabecalho{
	margin-top:28px;

	img{
		height:50%;
	}
}

.breadcrumb{
	color:#fff;
	font-family:@font-family-svg;
	font-size:150%;
	/*font-weight:bolder;*/
	margin:40px 15px 0 0;
}

.menu-principal{
	margin-top:40px;

	li{
		margin-left:5px; 
	}
}

.baseline{
	background:@cor-azul-2;
	bottom:0;
	height:2%;
	width:@tamanho-total;
	opacity:0.6;
	position:absolute; 
}


//  CONTEUDO
.conteudo{
	clear:both;
	padding:0 0 120px 0;
}

.menu-secundario{
	border-bottom:#ccc 1px solid;
	font-size:11px;
	padding:25px 0 25px 0;

	li{
		margin-left:5px; 
	}

	.botao40{
		padding-left:45px;
		width:inherit;
	}

	.linha-simples{
		margin-top:12px;
	}

	.linha-dupla{
		margin-top:7px;
	}
}


//  RODAPE
.rodape{
	background:@cor-azul-1;
	bottom:0;
	clear:both;
	color:#fff;
	font-size:0.7em;
	height:85px;
	position:absolute;
	width:@tamanho-total;

	
}

.direitos{
	margin-top:20px;
}




//  MENUS  ---------------------------------------------------------------------------------------------------

// CABECALHO
.menu-principal{
	.bt-busca{ .navega-no-sprite(0px); }
	.bt-busca:hover{ .navega-no-sprite(-200px,0px); }
	.bt-documentos{ .navega-no-sprite(-80px,0px); }
	.bt-documentos:hover{ .navega-no-sprite(-280px,0px); }
	.bt-relatorios{ .navega-no-sprite(-40px,0px); }
	.bt-relatorios:hover{ .navega-no-sprite(-240px,0px); }
	.bt-sistemas{ .navega-no-sprite(-120px,0px); }
	.bt-sistemas:hover{ .navega-no-sprite(-320px,0px); }
	.bt-solicitacoes{ .navega-no-sprite(-160px,0px); }
	.bt-solicitacoes:hover{ .navega-no-sprite(-360px,0px); }
}


// CONTEUDO
.menu-secundario{
	.bt-documentos{ .navega-no-sprite(-440px,0px); }
	.bt-documentos:hover{ .navega-no-sprite(-280px,0px); }
	.bt-relatorios{ .navega-no-sprite(-400px,0px); }
	.bt-relatorios:hover{ .navega-no-sprite(-240px,0px); }
	.bt-sistemas{ .navega-no-sprite(-480px,0px); }
	.bt-sistemas:hover{ .navega-no-sprite(-320px,0px); }
	.bt-solicitacoes{ .navega-no-sprite(-519px,0px); }
	.bt-solicitacoes:hover{ .navega-no-sprite(-360px,0px); }
}



//  PAGINA INICIAL (1170px) ---------------------------------------------------------------------------------------------------
.pagina-inicial{
	h3{
		font-weight:normal;
		margin-bottom:5px;
	}

	.regiao1, .regiao2, .regiao3, .regiao4, .regiao5{
		clear:both;
		padding:20px 0;
	}

	.regiao1, .regiao3{
		background:url('@{theme-image-url}/shadow-regions.png') no-repeat center bottom;
	}

	.destaques{
		background:#e9e9e9;

		.bloco{
			width:@largura_destaques_bloco;

			img{
				height:auto;
				width:95%;
			}
		}
	}

	.saudacao-usuario{
		display: none;
	}

	.indicadores{
		width:@largura_indicadores;

		h4{
			font-weight:normal;
		}

		span{
			font-size:70%;
		}

		.diretorias{
			clear:both;
		}

		.bloco{
			height:140px;
			min-width:@largura_indicadores_bloco;
		}
	}

	.acesso-rapido{
		width:@largura_acesso_rapido;

		h4{
			margin-bottom:15px;
		}

		li{
			margin-bottom:10px;
		}

		.noticia{
			h4{
				margin-bottom:0;
			}

			h5{
				font-weight:normal;
			}

			span{
				font-size:90%;
			}
		}
	}

	.agenda-npc{
		width:@largura_agenda_npc;

		.calendario{
			margin-bottom:30px;
			width:100%;

			img{	
				width:100%;
			}

			th{
				background:@cor-azul-1;
				color:@cor-branco;
				font-size:65%;
				font-weight:normal;
			}

			.fds{
				background:@cor-azul-2;
			}

			td{
				border-right:1px solid;
				border-bottom:1px solid;
				border-bottom-right-radius:3px;
				padding-right:3px;
				text-align:right;
				vertical-align:bottom;
			}

			.cinza{
				color:#ccc;
			}
		}

		.glossario{
			width:percentage(85/282);

			img{
				width:100%;
			}
		}

		.web-aulas{
			width:percentage(180/282);

			img{
				width:100%;
			}
		}
	}

	.area-indefinida1{
		width:180px;

		li{
			height:60px;
			margin-bottom:10px;
			text-align:right;
		}

		h4{
			font-weight:bold;
		}

		span{
			font-size:90%;
		}

		.icone60{
			margin-left:10px;
			padding-right:60px;
			width:inherit;
		}

		.boletim-fluir{
			.navega-no-sprite(0px);
		}
		.boletim-pomar{
			.navega-no-sprite(-60px,0px);
		}
		.rap{
			.navega-no-sprite(-123px,0px);
		}
		.comite-mais, .programa-dmais, .reuniao-progresso{
			.navega-no-sprite(-186px,0px);
		}
	}

	.acontece{
		width:percentage(580/@tamanho-interno);

		.cx-informativo{
			background:@cor-azul-2 url('@{theme-image-url}/triangulo.png') no-repeat -4 12;
			clear:both;
			margin-bottom:15px;
			min-height:100px;
			width:100%;
		}

		.destaque{
			color:@cor-branco;
			padding:24px 10px 24px 30px;
			width:percentage(170/580);

			h2{
				font-size:190%;
			}

			h3{
				margin-top:-13px;
			}
		}

		.descricao{
			background:#e9e9e9;
			font-size:90%;
			padding:24px 10px 24px 15px;
			width:percentage(345/580);

			p{
				margin-bottom:15px;
			}
		}
	}

	.porto-player{
		width:percentage(580/@tamanho-interno);

		.cx-video{
			background:@cor-azul-2 url('@{theme-image-url}/triangulo.png') no-repeat -4 12;
			height:290px;
			width:100%;
		}

		.destaque{
			color:@cor-branco;
			font-size:90%;
			padding:24px 0;
			width:percentage(210/580);

			p{
				margin:0 15px 15px 30px;
			}
		}

		.video{
			background:#e9e9e9;
			height:80%;
			padding:30px 0;
			width:percentage(370/580);
		}
	}

	.area-indefinida2{
		margin:20px 0 0 0;
		width:percentage(580/@tamanho-interno);

		li{
			margin-left:15px;
		}

		h4{
			font-weight:bold;

		}

		span{
			font-size:90%;
		}

		.icone60{
			padding-left:65px;
			width:inherit;
		}

		.luchetti{
			.navega-no-sprite(-247px,0px);
		}
		.sonia-rica{
			.navega-no-sprite(-306px,0px);
		}
		.organograma{
			.navega-no-sprite(-365px,0px);
		}
	}

	.avalie-o-portal{
		width:percentage(580/@tamanho-interno);

		img{
			width:120px;
		}
	}
}




// RELATORIOS  ---------------------------------------------------------------------------------------------------

.relatorios{
	.item{
		margin:0 0 20px 0;
	}

	.sub-item{
		margin:0 0 5px 5px;
	}

	.acao{
		background:url(@sprite-icons-16) no-repeat;
		display:inline-block;
		height:18px;
	}

	.icn-download{
		text-indent:20px;
		.sprite-position(0px,0px);
	}

	.icn-download:hover{
		.sprite-position(0px,-18px);
	}
}



// ---------------------------------------------------------------------------------------------------

















// MEDIA QUERIES ---------------------------------------------------------------------------------------------------

@media only screen and (max-width:1024px){
	@tamanho-interno:980px;
	.interno{
		clear:both;
		margin:0 auto;
		position:relative;
		max-width:@tamanho-interno;
	}
}
